.verdict {
    padding: 10px;
    border-width: 5px;
    border-style: solid;
    display: block;
    text-align: center;
    background-color: rgba(128, 200, 128, 0.5);
}

.bad {
    border-color: orange;
}

.good {
    border-color: green;
}

.error {
    border-color: red;
}

.in_progress {
    border-color: yellow;
}

.inconclusive {
    border-color: grey;
}