body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  /*background-color: red;*/
  height: 100vh;
}

.main {
  flex-grow: 8;
  /*background-color: purple;*/
}

.sidebar {
  flex-grow: 2;
  background-color: gray;
}